// === slider ====

$max-width-sl: 670px;

// info

$padding-box-info-sl: 0 30px;

$background-basis-sl: rgba(0, 0, 0, .6);

$text-align-info-sl: center;
$color-text-sl: #fff;
$font-size-tittle-sl: 25px;
$font-size-text-sl: 18px;

$title-24px: 24px;
$color-black: #010101;
$line-bg-table: #f3f2f0;
$color-btn: #fff;
$bg-btn-black: #010101;
$color-grey:#7d7d7d;
$color-btn-hov: #da501a;
$text-13px: 13px;
$text-22px: 22px;
$text-14px: 14px;
$text-18px: 18px;

$transition-speed-sl: .3s linear;

$max-height-sl: 20%;

$margin-title-sl: 10px 0 5px;
$margin-text-sl: 0 0 10px;

// shadow

$shadow-basis-sl: 0 0 3px $background-basis-sl;

//dots

$border-dots-sl: 1px solid #777;
$bg-dots-sl: #777;

$border-dots-hover-sl: 1px solid #fff;
$bg-dots-hover-sl: #fff;

$width-dots-sl: 20px;
$height-dots-sl: 20px;

$width-dots-circle-sl: 10px;
$height-dots-circle-sl: 10px;

$retreat-top-sl: 30px;

$border-radius-dots-sl: 50%;

// slick-next, slick-prev

$width-arrow-sl: 30px;
$height-arrow-sl: 30px;

$opacity-arrow-sl: .6;
$opacity-arrow-hover-sl: .9;

// slick-next

$retreat-right-sl: 0;

//slick-prev

$retreat-left-sl: 0;
