// === title ===

// size
$title-logo: 35px;
$title-24px: 24px;
$title-18px: 18px;
$title-16px: 16px;
$title-bar-14px: 14px;

$text-14px: 14px;
$text-13px: 13px;
$text-12px: 12px;
$text-11px: 11px;
$text-18px: 18px;
$text-22px: 22px;

$link-13px: 13px;
$link-14px: 14px;

$button-20px: 20px;
$btn-13px: 13px;
$phone-20px: 20px;
$btn-basis: 10px;

// color

$color-white: #fff;
$color-black: #010101;
$color-light-gray: #e2e2e2;
$color-gray:#7d7d7d;
$color-dark-gray: #4f4f4f;
$color-maroon: #da501a;
$color-orange: #e27d55;
$color-blue: #002bec;

// === / title ===

// === background ===

$bg-withe: #fff;
$bg-light-gray:#f8f8f8;
$bg-gray: #f0f1f3;
$bg-dark-gray: #4f4f4f;

$bg-btn: #ed6d3b;
$bg-btn-2: #4f4f4f;
$color-btn-3: #002bec;

$bg-link: #ed6d3b;

$bg-nav-mobile: #ed6d3b;

// === / background ===

// === size ===

$max-width: 960px;

$height-icon-nav-mobile: 25px;
$width-line-nav-mobile: 50px;
$height-line-nav-mobile: 8px;
$width-icon-title: 20px;
$height-icon-title: 20px;

// === / size ===

// === other ===

$transition-time-nav-mobile: 0.4s;
$rotation-nav-mobile: 45deg;
$translateY-nav-mobile: ($height-icon-nav-mobile / 2);
$translateX-nav-mobile: 0;

// === / other ===
